.container-product {
}
.row-product {
  display: flex;
}
img {
  max-width: 100%;
  align-items: center;
}
.product {
  background-color: lightgray;
  border-radius: 5%;
  margin-right: 2px;
}
.boton {
  background-color: darkcyan;
  border-radius: 10px;
}
